h1 {color: rgb(4, 4, 152); 
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    color: rgb(25, 135, 129);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}